.App {
  background-color: #d2d6db;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 1px;
}

.header {
  padding: 1%;
  background-color: #a11232;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 4px;
}

.footer {
  background-color: #3a4657;
  color: aliceblue;
  font-weight: bolder;
  padding: 0.1%;
}
.Nav {
  display: flex;
  flex-direction: column;
}
.Nav h2 {
  width: 50%;
  display: inline-flex;
  padding-left: 15px;
}

#article_card_img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.articlesList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 15px;
  justify-content: center;
}

#article_card_topic,
#article_card_author {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

#article_title {
  font-size: 1.6rem;
  color: #364458;
}

.article {
  background-color: rgb(253, 254, 254);
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
}

#articles_header {
  background-color: rgb(253, 254, 254);
  color: #a11232;
  padding: 7px;
}

#article_card_comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: large;
  padding-right: 15px;
}

@media only screen and (min-width: 751px) {
  #article_card_topic,
  #article_card_author {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    padding-right: 15px;
  }
}

.card_article {
  background-color: rgb(253, 254, 254);
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card_article_card_img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

#card_article_body {
  text-align: justify;
  padding: 10px;
}

#card_article_title {
  text-align: left;
  margin-bottom: 20px;
}

#card_article_card_topic,
#card_article_card_author {
  display: flex;
  justify-content: flex-start;
  margin: 3px;
}
