.App {
  background-color: #d2d6db;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 1px;
}

.header {
  padding: 1%;
  background-color: #a11232;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 4px;
}

#link_from_header {
  color: aliceblue;
  text-decoration: overline;
}

.footer {
  background-color: #3a4657;
  color: aliceblue;
  font-weight: bolder;
  padding: 0.1%;
}
.Nav {
  display: grid;
  grid-template-areas:
    "label_username input_username"
    "label_textarea"
    "newComment"
    "button_new_comment";
  grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr;
}

#article_card_img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.articlesList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 15px;
  justify-content: center;
}

#article_card_topic,
#article_card_author {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

#article_title {
  font-size: 1.6rem;
  color: #364458;
}

.article {
  background-color: rgb(253, 254, 254);
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
}

#articles_header {
  background-color: rgb(253, 254, 254);
  color: #a11232;
  padding: 7px;
}

#article_card_comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: large;
  padding-right: 15px;
}

@media only screen and (min-width: 751px) {
  #article_card_topic,
  #article_card_author {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    padding-right: 15px;
  }

  #card_article_body {
    text-align: justify;
    padding: 10px;
    font-size: larger;
  }
}

.card_article {
  background-color: rgb(253, 254, 254);
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card_article_card_img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

#card_article_body {
  text-align: justify;
  padding: 10px;
}

#card_article_title {
  text-align: left;
  margin-bottom: 20px;
}

#card_article_card_topic,
#card_article_card_author {
  display: flex;
  justify-content: flex-start;
  margin: 3px;
}

.Comments {
  display: flex;
  flex-direction: column;
  background-color: #768cac;
  border-radius: 8px;
  margin-top: 10px;
}

#comments_header {
  color: aliceblue;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1px;
}

.comments_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 15px;
  justify-content: center;
}

.comment_one {
  margin: 10px;
  background-color: rgb(253, 254, 254);
  border-radius: 8px;
}

#comment_author {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 0px;
}

#comment_added_at {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 0px;
}

#comments_votes {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  margin: 5px;
}

#comment_body {
  text-align: justify;
  padding: 12px;
  padding-right: 25px;
}

#article_vote_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #364458;
  background-color: rgb(251, 234, 234);
  border-radius: 5px;
  font-weight: bolder;
}

.comment_adder {
  display: grid;
  grid-template-areas:
    "label_username input_username"
    "label_textarea"
    "newComment"
    "button_new_comment";
  grid-template-rows: 30px auto 40px;
  grid-template-columns: 100px auto;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#button_new_comment {
  grid-column: 2;
  border-radius: 8px;
  margin-top: 10px;
}

#comment_error {
  color: red;
  font-size: larger;
  margin-top: 1px;
  margin-bottom: 20px;
}

#comment_body {
  font-size: larger;
}

#newComment {
  border-radius: 5px;
  margin-top: 10px;
}

#input_username {
  border-radius: 5px;
}

#label_textarea {
  margin-top: 15px;
}

#label_username {
  margin-top: 5px;
}

@media only screen and (min-width: 540px) {
  #button_new_comment {
    grid-column: 2;
    border-radius: 8px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

#topics_header {
  padding: 1%;
  background-color: #a11232;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 4px;
  margin-bottom: 1px;
}

.topics {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.li_topics {
  list-style-type: none;
  background-color: white;
  border-radius: 8px;
  padding: 6px;
  margin: 10px;
}

.topics_list {
  padding: 10px;
  text-align: start;
  margin-top: 1px;
}

#topics_header {
  margin-bottom: 0px;
}

/* #select_topic {
} */

/* .custom-select {
  position: relative;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
} */
